$active: #bad980
$gray: #f5f5f5
$text: #073f4e
$bg: #073f4e
$border-radius: 50px

$minWidth: 320
$maxWidth: 1920
$containerWidth: 1770
$container: #{$containerWidth+px}
$firstBreakpoint: 1500
$section_gap: 120
$burgerMedia: 1199

$font: 'Geologica'
