<div class="services__wrapper">

	@@if (animation == true) {
	<div class="wow fadeInUp services__item" data-wow-delay='.2s'>
		}

		@@if (animation == false) {
		<div class="services__item">
			}

			<div class="services__item-img-wrapper">
				<img src="assets/img/services/1.svg" class="services__item-img" width="64" height="100" alt="" loading="lazy" decoding="async">
			</div>
			<a href="javascript:void(0)" class="services__item-title">Имплантация зубов</a>
			<ul class="services__item-tags">
				<li><a href="javascript:void(0)">Базальная</a></li>
				<li><a href="javascript:void(0)">Скуловая</a></li>
				<li><a href="javascript:void(0)">Одиночная</a></li>
				<li><a href="javascript:void(0)">Полная</a></li>
				<li><a href="javascript:void(0)">Под ключ</a></li>
				<li><a href="javascript:void(0)">all-on-4</a></li>
				<li><a href="javascript:void(0)">all-on-6</a></li>
			</ul>
		</div>

		@@if (animation == true) {
		<div class="wow fadeInUp services__item" data-wow-delay='.3s'>
			}

			@@if (animation == false) {
			<div class="services__item">
				}
				<div class="services__item-img-wrapper">
					<img src="assets/img/services/2.svg" class="services__item-img" width="76" height="92" alt="" loading="lazy" decoding="async">
				</div>
				<a href="javascript:void(0)" class="services__item-title">Терапия</a>
				<ul class="services__item-tags">
					<li><a href="javascript:void(0)">Лечение глубокого кариеса</a></li>
					<li><a href="javascript:void(0)">Лечение кариеса</a></li>
					<li><a href="javascript:void(0)">Лечение пульпита</a></li>
					<li><a href="javascript:void(0)">Лечение периодонтита</a></li>
					<li><a href="javascript:void(0)">Перелечивание зубов</a></li>
					<li><a href="javascript:void(0)">Лечение под микроскопом</a></li>
				</ul>
			</div>
			@@if (animation == true) {
			<div class="wow fadeInUp services__item" data-wow-delay='.2s'>
				}

				@@if (animation == false) {
				<div class="services__item">
					}
					<div class="services__item-img-wrapper">
						<img src="assets/img/services/3.svg" class="services__item-img" width="64" height="98" alt="" loading="lazy" decoding="async">
					</div>
					<a href="javascript:void(0)" class="services__item-title">Протезирование зубов</a>
					<ul class="services__item-tags">
						<li><a href="javascript:void(0)">Частично-съемные протезы</a></li>
						<li><a href="javascript:void(0)">Постоянные протезы</a></li>
						<li><a href="javascript:void(0)">Коронки</a></li>
						<li><a href="javascript:void(0)">Несъёмные протезы</a></li>
						<li><a href="javascript:void(0)">Съёмные протезы</a></li>
						<li><a href="javascript:void(0)">Временные протезы</a></li>
						<li><a href="javascript:void(0)">Протезы на передние зубы</a></li>
					</ul>
				</div>
				@@if (animation == true) {
				<div class="wow fadeInUp services__item" data-wow-delay='.3s'>
					}

					@@if (animation == false) {
					<div class="services__item">
						}
						<div class="services__item-img-wrapper">
							<img src="assets/img/services/4.svg" class="services__item-img" width="130" height="77" alt="" loading="lazy" decoding="async">
						</div>
						<a href="javascript:void(0)" class="services__item-title">Ортодонтическая стоматология</a>
						<ul class="services__item-tags">
							<li><a href="javascript:void(0)">Брекеты</a></li>
							<li><a href="javascript:void(0)">Элайнеры</a></li>
						</ul>
					</div>
					@@if (animation == true) {
					<div class="wow fadeInUp services__item" data-wow-delay='.2s'>
						}

						@@if (animation == false) {
						<div class="services__item">
							}
							<div class="services__item-img-wrapper">
								<img src="assets/img/services/5.svg" class="services__item-img" width="80" height="99" alt="" loading="lazy" decoding="async">
							</div>
							<a href="javascript:void(0)" class="services__item-title">Хирургическая стоматология</a>
							<ul class="services__item-tags">
								<li><a href="javascript:void(0)">Синус-лифтинг</a></li>
								<li><a href="javascript:void(0)">Удаление кист</a></li>
								<li><a href="javascript:void(0)">Наращивание костной ткани</a></li>
								<li><a href="javascript:void(0)">Удаление зубов</a></li>
								<li><a href="javascript:void(0)">Лечение альвеолита</a></li>
								<li><a href="javascript:void(0)">Резекция верхушки корня</a></li>
							</ul>
						</div>
						@@if (animation == true) {
						<div class="wow fadeInUp services__item" data-wow-delay='.3s'>
							}

							@@if (animation == false) {
							<div class="services__item">
								}
								<div class="services__item-img-wrapper">
									<img src="assets/img/services/6.svg" class="services__item-img" width="100" height="100" alt="" loading="lazy" decoding="async">
								</div>
								<a href="javascript:void(0)" class="services__item-title">Пародонтологическая стоматология</a>
								<ul class="services__item-tags">
									<li><a href="javascript:void(0)">Пародонтит и пародонтоз</a></li>
									<li><a href="javascript:void(0)">Рецессия десны</a></li>
									<li><a href="javascript:void(0)">Пародонтологические комплексы</a></li>
									<li><a href="javascript:void(0)">Шинирование зубов</a></li>
								</ul>
							</div>
						</div>
